{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<title>{% block title %}Pinteresting{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600' rel='stylesheet' type='text/css'>
	<link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel ="stylesheet" href="{% static 'style.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		<ul class="nav">
		  <li class="active">
		    <a class="brand" href="{% url 'pinteresting:index' %}">Pinteresting</a>
		  </li>
		{% if user.is_authenticated %}
		  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          My Boards
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                     {% for board in user_boards %}
                     <li><a href="{% url 'pinteresting:board_detail' board.id %}">{{board.name}}</a></li>
                     {% endfor %}
                    </ul>
                  </li>
		{% endif %}
		  </ul>
		 <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
		    <li><a href="{% url 'pinteresting:add_pin' %}">New Pin</a></li>
		    <li><a href="{% url 'pinteresting:add_board' %}">New Board</a></li>
                    <li><a href="{% url 'auth_logout' %}"> Log Out</a></li>
		    
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user"></span>Log In</a></li>
		    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    {% endif %}
		    {% if user.is_superuser %}
		    <li><a href="{% url 'admin:app_list' 'pinteresting' %}">Admin</a></li>
		    {% endif %}
                </ul>

	    </div>
	  </div>
	</div> 
	<div class="content">
		{% if messages %}
		<div class="messages">
			{% for message in messages %}
				<p class={{message.tags}}>{{message}}</p>
			{% endfor %}
		</div>
		{% endif %}
		{% block content %}

		{% endblock %}
		</div>

		<!--
		<div class="footer">
		Created by: Stephen Goeddel<br />
		On: 11/2/2013
	
		</div>-->
<p style="text-align:center">This web app was made in Django as an exercise, not as an attempt to overtake pinterest.</p>
</body>

</html>
