{% extends 'base.html' %}

{% block title %}You've Been Logged Out{% endblock %}

{% block content %}
<h2>Logged Out Successfully</h2>

<p class="input com">You've been logged out successfully.</p>
{% endblock %}
