{% extends "base.html" %}

{% block title %}Member Registration{% endblock %}

{% block content %}
<div class= "input">
<h2>Member Registration</h2>

<form action="." method="post">
	{% csrf_token %}
    {% if form.has_errors %}
    <p class="error">Please correct the errors below.</p>
    {% endif %}

    <p class="com">Please enter your desired account information in the form below.</p>
    <table class="registration form">
      {{ form.as_table }}
        <tr>
            <td class="labels"></td>
            <td class="buttons"><input type="submit" value="Create My Account" /></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
