body {
	font-family: 'Titillium Web', sans-serif;
	background: rgb(63,76,107); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.content{
	min-height:500px;
	padding:30px 5px 0px 5px;
	margin: 0px auto;
}

.com {
	text-align:center;
}
h1{
	color:#FFF;
	text-shadow: 2px 2px #555;
	text-align:center;
}
h2{
	color:#888;
	text-align:center;
}
h4, h5{
	color:#777;
	text-align:center;
}
h3 {
	text-align:center;
}
.add{
	margin: 0px auto;
}

.info {
	text-align:center;
	font-size: 9pt;
}
.desc {
	font-size:11pt;
	text-align:center;
}
.comments {
	text-align:center;
	color:#999;
	border-top:1px solid;
}
.user{
	color:#FF0000;
	font-style:oblique;

}

.form {
	margin:20px auto 0px auto;

}

.btn {
	width:400px;
	position:relative;
	left:300px;
}
.input {
	width:500px;
	background-color:#FFFFFF;
	margin:50px auto;
	padding:20px;
}
.input h1, h2 {
	color:#AAA;
}
.footer {
	margin:20px 0px 0px 0px;
	padding: 0px;
	text-align:right;
	position:relative;
	left:0px;
}

.messages{
	list-style:none;
	width:100%;
	margin:20px auto;
	padding:10px 20px 10px 20px;
	background:#FFF;
	font-size:15pt;
	text-align:center;
}
.success {
        color:green;
        list-style:none;

}
.error {
        color:red;
        list-style:none;
}

a:link, a:visited {color:#111;}
a:hover {color:#AAA; text-decoration:none;}
a {
	
}
.link {
	text-align:center;
	margin:0px auto;
}
/* added from what we did in class */

.pin {
    float: left;
    list-style-type: none;
    width: 300px;
    margin: 10px;
    padding: 5px;
}
.pin:hover {
    border: 2px solid #000;
}
.pin-image {
    display: block;
    margin: 0px auto;
}

.pin-detail {
	width:60%;
	margin: 0px auto;
	padding:20px;
	text-align:center;
	font-size:13pt;
}
.pin-detail img {
	margin: 10px auto;
}
.pin-title {
	color:#000;
}

.problem {
	text-align:center;
	margin:0px auto;
	color:#FFF;
}

/* stuff for colors */

.Red {
	background-color: #990000;
	color: #FFFFFF;
	border: 2px solid #990000;
}
.Green {
	background-color: #336633;
	color: #FFFFFF;
	border: 2px solid #336633;
}
.Blue {
	background-color: #336699;
	color: #FFFFFF;
	border: 2px solid #336699;
}
.Orange {
	background-color: #FF9933;
	color: #FFFFFF;
	border: 2px solid #FF9933;
}
.Grey {
	background-color: #CCCCCC;
	color: #000000;
	border: 2px solid #CCCCCC;
}

.update {
	text-align:right;
}

.title {
	text-align:center;
	width:600px;
	margin:0px auto;
	padding:0px;
	background-color:#AAA;
}

.comments {
	margin:0px auto;
}

.comments td, tr{
	padding:5px;

}



