<li class="pin {{pin.color}}">
    <h3>{{pin.title}}</h3>
    <img src="{{ MEDIA_URL }}{{ pin.image }}" class="pin-image" />
    <br /><br />
    <div class="info">
        By: <span> &nbsp; {{ pin.created_by.username }} &nbsp; </span> On: &nbsp; {{ pin.pub_date }}<br/>
	{% if pin.link %}
		<span class="link"><a href="{{pin.link}}">Go to link</a></span>
		<br />
	{% endif %}
        <span class="board-name">{{ pin.board.name }}</span>
    
    {{ pin.description|linebreaks }}
	</div>
    {% if pin.comment_set.all %}
        <hr>
        {% for comment in pin.comment_set %}
        <span class="user">{{ comment.user }}</span> said:<br/>
        {{ comment.comment|linebreaksbr }}
        {% endfor %}
    {% endif %}
    <div style="clear: both;"></div>
</li>
