{% extends "base.html" %}

{% block content %}
<div class="input">
	<h1>Create a new Board</h1>
	<form method="POST" action="." id="board-add-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Create"></input>
	</form>
</div>
{% endblock %}
