{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{board.name}}{% endblock %}

{% block scripts %}
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script>
$(window).load(function() {
    var $container = $('#pin-list-head');
    $container.masonry({
        itemSelector: '.pin'
    });
});
</script>

<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock scripts %}

{% block content %}
	<div class="title">
	<h1 id="pin-top">{{board.name}}</h1>
	<h3>Created by: {{board.created_by}}</h3>
	</div>
	{% if board.pins %}
		<ul id="pin-list-head">
			{% if cur_user %}
		    		{% for pin in board.pins %}<!--this is what the boards owner will see-->
					<li class="pin {{pin.color}}">
				    <a href="{% url 'pinteresting:pin_detail' pin.id %}"><h3>{{pin.title}}</h3></a>
				    <img src="{{ MEDIA_URL }}{{ pin.image }}" class="pin-image" />
				    <br /><br />
				    <div class="info">
					By: <span> &nbsp; {{ pin.created_by.username }} &nbsp; </span> On: &nbsp; {{ pin.pub_date }}<br />
					
					<span class="board-name">Board(s): &nbsp;-{% for board in pin.boards %} <a href="{% url 'pinteresting:board_detail' board.id %}">{{ board.name }}</a>-{% endfor %}</span><br />
					{% if pin.link %}
						<span class="link"><a href="{{pin.link}}">Go to link</a></span><br />
						
					{% endif %}
				    	<br />
					</div>
				    	<p class="desc">{{ pin.description }}</p>
				        <a href="{% url 'pinteresting:pin_detail' pin.id %}"><p class="com">Comments: {{pin.num_comments}}</p></a>
				    <div style="clear: both;"></div>
				</li>
				{% endfor %}

			{% else %}
				{% for pin in board.public_pins %}<!--this is what a user who does not own the board will see -->
					<li class="pin {{pin.color}}">
				    <a href="{% url 'pinteresting:pin_detail' pin.id %}"><h3>{{pin.title}}</h3></a>
				    <a href="{% url 'pinteresting:pin_detail' pin.id %}"><img src="{{ MEDIA_URL }}{{ pin.image }}" class="pin-image" /></a>
				    <br /><br />
				    <div class="info">
					By: <span> &nbsp; {{ pin.created_by.username }} &nbsp; </span> On: &nbsp; {{ pin.pub_date }}<br />
					
					<span class="board-name">Board(s): &nbsp;{% for board in pin.boards %} <a href="{% url 'pinteresting:board_detail' board.id %}">{{ board.name }}</a>{% endfor %}</span><br />
					{% if pin.link %}
						<span class="link"><a href="{{pin.link}}">Go to link</a></span><br />
						
					{% endif %}
				    	<br />
					</div>
				    	<p class="desc">{{ pin.description }}</p>
				    
				    <div style="clear: both;"></div>
				</li>
				{% endfor %}
			{% endif %}
        			
		</ul>
	{% else %}
		<div class="problem"><p>No pins have been uploaded, please <a href="{% url 'pinteresting:add_pin' %}">create a new pin!</a></p></div>
	{% endif %}
{% endblock %}
