{% extends "base.html" %}

{% block content %}
<div class="input">
	<h1>Comment on {{pin.title}}</h1>
	<form method="POST" action="." id="comment-add-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Comment"></input>
	</form>
</div>
{% endblock %}
