{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Pinteresting Main Page{% endblock %}

{% block scripts %}
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script>
$(window).load(function() {
    var $container = $('#pin-list-head');
    $container.masonry({
        itemSelector: '.pin'
    });
});
</script>

<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock scripts %}

{% block content %}
	<div class="title">
	<h1 id="pin-top">Latest Pins</h1>
	<p>Welcome to Pinteresting, the app that totally isn't a copy of pinterest(naming unrelated)!</p>
	</div>
	{% if pins %}
		<ul id="pin-list-head">
		    	{% for pin in pins %}
        			<li class="pin {{pin.color}}">
				    <a href="{% url 'pinteresting:pin_detail' pin.id %}"><h3>{{pin.title}}</h3></a>
				    <a href="{% url 'pinteresting:pin_detail' pin.id %}"><img src="{{ MEDIA_URL }}{{ pin.image }}" class="pin-image" /></a>
				    <br /><br />
				    <div class="info">
					By: <span> &nbsp; {{ pin.created_by.username }} &nbsp; </span> On: &nbsp; {{ pin.pub_date }}<br />
					
					<span class="board-name">Board(s): &nbsp;-{% for board in pin.boards %} <a href="{% url 'pinteresting:board_detail' board.id %}">{{ board.name }}</a>- {% endfor %}</span><br />
					{% if pin.link %}
						<span class="link"><a href="{{pin.link}}">Go to link</a></span><br />
						
					{% endif %}
				    	<br />
					</div>
				    	<p class="desc">{{ pin.description }}</p>
				    	<a href="{% url 'pinteresting:pin_detail' pin.id %}"><p class="com">Comments: {{pin.num_comments}}</p></a>
				    <!--<div style="clear: both;"></div>-->
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No pins have been uploaded, please <p><a href="{% url 'pinteresting:add_board' %}">Create a new board</a></p> to get started.</p>
	{% endif %}
{% endblock %}
