{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}{{pin.title}}{% endblock %}


{% block content %}
	
	<div class="pin-detail {{pin.color}}">
	    
	    <h1 class="pin-title">{{pin.title}}</h1>
	    
	    <a href="{{pin.link}}"><img src="{{ MEDIA_URL }}{{ pin.image }}"/></a>
	    <br /><br />
	    <div>
		{% if not cur_user %}
			<a href="{% url 'pinteresting:repin' pin.id %}">Repin</a><br /><br />
		{% endif %}
		By: <span> &nbsp; {% gravatar_img_for_user pin.created_by 30 %} {{ pin.created_by.username }} &nbsp; </span> On: &nbsp; {{ pin.pub_date }}<br />
		
		<span class="board-name">Board(s): &nbsp;-{% for board in pin.boards %} <a href="{% url 'pinteresting:board_detail' board.id %}">{{ board.name }}</a>- {% endfor %}</span><br />
		{% if pin.link %}
			<span><a href="{{pin.link}}">Go to link</a></span><br />
			
		{% endif %}
	    	<br />
		</div>
	    	<p>{{ pin.description }}</p>
	    	
	    <div style="clear: both;"></div>
	    {% if cur_user %}
		<div class="update">
			<a href="{% url 'pinteresting:update_pin' pin.id %}">Edit Pin</a><br />
			<a href="{% url 'pinteresting:delete_pin' pin.id %}">Delete Pin</a>
		</div>
	    {% endif %}
		<div class="input">
		<h2>-Comments-</h2>
		{% if user.is_authenticated %}
			<p><a href="{% url 'pinteresting:add_comment' pin.id %}">Add a comment</a></p>
		{% endif %}
		{% if comments %}
			<table class="comments">
		    	{% for comment in comments %}
				<tr class="comments">
				<td>{% gravatar_img_for_user comment.user 30 %} {{comment.user}}:</td>
				<td>{{comment.comment}}</td>
				{% if user.id == comment.user.id %}
					<td><a href="{% url 'pinteresting:delete_comment' comment.id %}">Delete</a></td>
					<td><a href="{% url 'pinteresting:update_comment' comment.id %}">Edit</a></td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
				
				<tr>
			{% endfor %}
		{% else %}
			<p class="comments">No one has left a comment on this pin, be the first to leave one!</p>
		{% endif %}
	    	</div>
	</div>


{% endblock %}
