{% extends "base.html" %}

{% block content %}
<div class="input">
	{% if cur_user %}
	<h1>Delete {{pin.title}}</h1>
	<form action="" method="post">{% csrf_token %}
    		<p>Are you sure you want to delete "{{ object }}"?</p>
    		<input type="submit" value="Confirm" />
	</form>
	{% else %}
		<h1>You do not own this pin and therefore cannot delete it!</h1>
	{% endif %}
</div>
{% endblock %}
