{% extends "base.html" %}

{% block content %}
<div class="input">
	{% if cur_user %}
	<h1>Update {{pin.title}}</h1>
	<form method="POST" action="." id="repin-add-form" enctype="multipart/form-data">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Update Pin"></input>
	</form>
	{% else %}
		<h1>You do not own this pin and therefore cannot update it!</h1>
	{% endif %}
</div>
{% endblock %}
