{% extends "base.html" %}

{% block content %}
<div class="input">
	{% if boards_avail %}
	<h1>Repin a pin on your board</h1>
	<form method="POST" action="." id="repin-add-form" enctype="multipart/form-data">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Repin"></input>
	</form>
	{% else %}
	<h3>It appears that you have not created any boards, please <a href="{% url 'pinteresting:add_board' %}">create a board</a> before creating your first pin.</h3>
	{% endif %}
</div>
{% endblock %}
